* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: #ECECEC;
    --dark: #2F2F2F;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
}

.audioplayer {
    width: 390px;
    height: 660px;
    background: var(--dark);
    border-radius: 30px;
    padding: 45px;
    text-align: center;
}


.audioImage {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    object-fit: cover;
}

.audioName {
    color: var(--light);
    margin-block: 35px;
    height: 40px;
}

.audioControls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.controlBtn {
    width: 25px;
    height: 25px;
    background: none;
    color: var(--light);
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.controlBtn:active {
    scale: .9;
}

.progressInput {
    width: 100%;
    accent-color: var(--light);
    cursor: pointer;
}

.audioTimeBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audioCurrentTime,
.audioDuration {
    color: var(--light);
}

.audioButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.audioBtn {
    background: none;
    border: none;
    color: var(--light);
    font-size: 45px;
    cursor: pointer;
}

.audioRandomBtn.activ {
    color: dodgerblue;
}

.audioRepeatBtn.activ {
    color: dodgerblue;
}

.audioFavoriteBtn.activ{
    color: red;
}
